@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.new{
    width: 100vw;
    margin: auto;
}

.home{
    width: 100vw;
    margin: auto;
    background: url('./Images/Background-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;    
}

.ham{
    color: black;
    margin-left: 0.5rem;
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: white;
}

.navbar .nav ul{
    display: flex;
}

.nav ul li{
    padding: 0 1.2rem;
}

.nav ul li a{
    color: var(--text-color);
    font-weight: 600;
}

.nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.navbar .logo{
    padding-left: 5rem;
}

.navbar .logo span{
    color: var(--main-color);
}

.search{
    padding: 0rem 1.5rem;
}

.search i{
    color: black;
}

.search-box{
    width: 90%;
    margin: 1rem auto;
}

.search-box input{
    width: 100%;
    padding:1rem;
    border: 2px solid red;
    border-radius: 0.8rem;
    display: none;
}

.search-box input:focus{
    outline: none;
}

.main{
    width: 50%;
    padding:0 2rem;
    padding-top: 12rem;
    min-height: 600px;
}

.main h1 span{
    color: var(--main-color);
}

.main button{
    color: white;
    padding: 0.7rem 1rem;
    background: var(--main-color);
    border: none;
    margin-top: 0.9rem;
    font-size: 1rem;
}

.main button:hover{
    background: rgb(151, 19, 19);
}

.cross{
    color: black;
    position: absolute;
    padding: 1rem;
    bottom: 0.2rem;
    right: 0.5rem;
}

#mobilenav{
    position: relative;
    width: 100vw;
    text-align: center;
    background-color: white;
    position: absolute;
    display: none;
    top: 3rem;
}

#mobilenav ul li{
    padding: 1rem;
    font-weight: 600;
}

#mobilenav ul li a{
    color: var(--text-color);
}

#mobilenav ul li:hover{
    background-color: rgb(238, 50, 50);
}

.cars{
    width: 95vw;
    margin:auto;
    padding: 1rem 0;
}

.carsintro{
    text-align: center;
}

.carsintro h3{
    color: var(--main-color);
}

.carssection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0.5rem auto;
}

.car{
    margin: 0.5rem auto;
}

.car img{
    width: 300px;
    height: 200px;
    border-radius: 0.5rem;
}

/* about section */
.about{
    width: 90vw;
    margin:1.5rem auto;
    padding: 1rem;
    display: flex;
}

.about .right{
    display: flex;
    flex: 1;
}

.about .left{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}

.about .left h2{
    color: var(--main-color);
}

.about .left button{
    color: white;
    padding: 0.7rem 1rem;
    width: 10rem;
    background: var(--main-color);
    border: none;
    margin-top: 0.9rem;
    font-size: 1rem;
}

.about .left button:hover{
    background: rgb(151, 19, 19);
}

/* parts section */
.parts{
    width: 95vw;
    margin:1.5rem auto;
    padding: 1rem;
}

.partsintro{
    text-align: center;
}

.partsintro h3{
    color: var(--main-color);
}

.partssection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0.5rem auto;
}

.part img{
    width: 200px;
    height: 200px;
}

.part{
    margin: 1rem auto;
    background: rgb(235, 232, 232);
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
}

.part button{
    color: white;
    padding: 0.7rem 0.9rem;
    width: 7rem;
    background: var(--main-color);
    border: none;
    margin-top: 0.9rem;
    font-size: 0.8rem;
    margin-right: 0.1rem;
}

.part h3{
    color: var(--main-color);
}

.part h5{
    color: var(--main-color);
}



@media only screen and (max-width: 1070px) {
    .carssection{
        grid-template-columns: repeat(2,1fr);
    }
    .partssection{
        grid-template-columns: repeat(2,1fr);
    }

@media only screen and (max-width: 832px) {
    .nav{
        display: none;
    }
    .ham{
        display: inline;
    }
    .search i{
        color: black;
    }
    .header{
        background: white;
    }
    .main{
        width: 100%;
        padding-top: 4rem;
        min-height: 480px;
    }
    .home{
        background: none;
        background-color:rgb(248, 223, 223);
    }
    .carssection{
        grid-template-columns: repeat(1,1fr);
    }

    .about .right{
        margin: auto;
        flex: 0;
    }
    .about .right img{
        display: none;
    }

    .partssection{
        grid-template-columns: repeat(1,1fr);
    }
}

